@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}
body
{
   height: 100vh;
   width: 100%;
   background: rgb(0, 0, 0);
   justify-content: center;
   display: flex; 
}
label
{
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
input
{
    width: 250px;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

}
select
{
    font-size:15px;
    margin-bottom: 10px;
}
option
{
    font-size: 15px;
}
form
{
    height: 300px;
    width: 250 px;
    border-radius: 30px;
}
h3
{
    margin-top: 20px;
    font-size: 40px;
    color: rgb(93, 184, 220);
    padding-bottom: 20px;
}
.submit
{    width: 100px;
    height: 50px;
     margin: 3% auto; 
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(255, 255, 255);
     background:rgb(93, 184, 220);
     border: none;
     margin-top: 20px;
     
     outline: none;
     border-radius:20px;
}
.submit:hover{
    cursor: pointer;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
}
.submit:active
{
    background:rgb(135, 214, 245);
}